<div class="text-center">
  <h1>{{title}}</h1>
  <h4>{{description}}</h4>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <section>
    <label>Comment</label>
    <textarea name="comment" id="comment" class="comment" placeholder="Your Message.." ></textarea>
    <button>Comment</button>
  </section>
</div>