@font-face {
  font-family: 'PressStart';
  src: url(PressStart2P-Regular.ttf);
}

body {
  background-color: #ECF2FF;
}

h1 {
  color: #3E54AC;
  text-align: center;
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: center;
  /* border-style: solid;
  border-color: #BFACE2;
  border-width: 10px;
  border-padding: 90px; */

}
img {
  opacity: 0.2;
}

h6 {
  padding: 100px;
  text-align: center;
}
