@font-face {
  font-family: 'PressStart';
  src: url(PressStart2P-Regular.ttf);
}

body {
  background-color: #ECF2FF;
}

.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #3E54AC;
  text-align: center;
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: left;
  border-style: dashed;
  border-color: #BFACE2;
  border-width: 10px;
  letter-spacing: 12px;
  padding: 4%;
  display: inline-block;
  width: 85px;
  padding-right: 40px;
  

}
/* .headerImg {
  opacity: 0.2;
  position: absolute;
  left: 350px;
  top: 0;
  width: 70%;
  height: 100%;
  scale: 1;
}
.content {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
} */

h5 {
  padding-bottom: 100px;
  font-family: 'PressStart', Arial, Helvetica, sans-serif;
  text-align: center;
  color:#4c459c;
}

input {
  width: 300px !important
}

@media screen and (max-width: 980px){
  
}